@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", Georgia, serif;
  --font-weight: 400;
  --time: 50s;
  --animate-scroll: scroll var(--time) linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(100);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  --animate-scroll2: scroll var(--time) linear infinite;

  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }
}

html {
  font-family: var(--font-merriweather);
  font-weight: var(--font-weight);
}

.pill {
    @apply inline-flex m-[10px] tracking-[0.1em]
    bg-white text-[#030000] px-[20px] py-[15px]
    rounded-[25px] border border-white transition
    duration-500 shadow-[-3px_3px_2px_rgba(0,0,0,0.3)];
}