@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme inline{
  /* Global font */
  --font-merriweather: "Merriweather", Georgia, serif;
  --font-weight: 400;

  /* Marquee */
  --time: 35s;
  --animate-scroll: scroll var(--time) linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(100);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  /* Typewriter Effect */
  --animate-typewriter: typewriter var(--duration, 1000s) steps(var(--steps, 1000)) alternate, blink 1s;
  @keyframes typewriter {
    0% {
      width: 0%;
      visibility: hidden;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }

    100% {
      border-color: currentColor;
    }
  }
}

html {
  font-family: var(--font-merriweather);
  font-weight: var(--font-weight);
}

.pill {
    @apply hover:bg-[#f1efe3] inline-flex m-[10px] tracking-[0.1em]
    bg-white text-[#030000] px-[20px] py-[15px]
    rounded-[25px] border border-white transition
    duration-500 shadow-[-3px_5px_5px_rgba(0,0,0,0.3)];
}

.pill-small {
    @apply text-xs hover:bg-[#f1efe3] inline-flex m-[5px] tracking-[0.1em]
    text-[#030000] px-[10px] py-[5px] cursor-pointer
    rounded-[25px] border border-white transition
    duration-500 shadow-[-3px_5px_5px_rgba(0,0,0,0.3)];
}

.pill-stack-card {
  @apply m-[10px] cursor-pointer
    bg-white text-[#030000] px-[30px] py-[25px]
    rounded-[25px] border border-white transition
    duration-500 shadow-[0px_-10px_10px_rgba(0,0,0,0.1)];
}

.pill-card {
  @apply whitespace-normal break-words w-full
    bg-white text-[#030000] px-[20px] py-[10px]
    rounded-[25px] border border-white transition
    duration-500 shadow-[0px_0px_5px_rgba(0,0,0,0.3)];
}

.pill-modal {
  @apply whitespace-normal break-words m-[10px] w-[500px]
    bg-white text-[#030000] px-[30px] py-[25px]
    rounded-[25px] border border-white transition
    duration-500 shadow-[0px_0px_5px_rgba(0,0,0,0.3)];
}

.pill-searchbar {
  @apply whitespace-normal break-words w-[400px]
    bg-white text-[#030000] px-[20px] py-[10px] focus:bg-[#f1efe3]
    rounded-[25px] transition focus:border-none focus:outline-none
    duration-500 shadow-[0px_0px_5px_rgba(0,0,0,0.3)];
}

.pill-searchresult {
  @apply absolute top-full left-0 mt-2
    whitespace-normal break-words w-[400px] 
    bg-white px-[5px] py-[5px] z-50
    rounded-[25px] transition duration-500
    shadow-[0px_0px_5px_rgba(0,0,0,0.3)]
    max-h-60 overflow-y-auto;
}

.pill-searchresult-item {
  @apply whitespace-normal break-words text-[#030000] px-[10px] py-[5px] hover:bg-[#f1efe3]
  rounded-[25px] cursor-pointer;
}

.my-tooltip {
  @apply text-xs h-[16px] px-[6px] border border-gray-400 rounded cursor-pointer hover:bg-[#f1efe3];
}

.my-radio {
  @apply rounded text-sm px-2 py-1 cursor-pointer border bg-white hover:bg-[#f1efe3] data-checked:bg-[#f1efe3];
}

.my-checkbox {
  @apply w-[14px] h-[18px] rounded text-sm px-2 py-1 cursor-pointer border hover:bg-[#f1efe3];
}

.my-select {
  @apply rounded text-sm px-2 py-1 cursor-pointer border bg-white;
}

.my-option {
  @apply rounded text-sm px-2 py-1 cursor-pointer border bg-white hover:bg-[#f1efe3]
}





